@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-purple-50
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    width: 70%;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}