@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* body {
        @apply bg-purple-50
    } */
    /* label {
        @apply !text-secondary
    } */
}

html {
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    width: 70%;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

body {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.glass {
    height: 90vh;
    width: 90%;
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.n-data-table .n-data-table-table {
    background-color: transparent !important;
}

.n-data-table .n-data-table-thead,
.n-data-table .n-data-table-tbody {
    background-color: transparent !important;
}

.n-data-table .n-data-table-th {
    background-color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(2rem);
}

.n-data-table .n-data-table-td {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(2rem);
}